@tailwind base;
@tailwind components;
@tailwind utilities;

.z-10 {
  position: relative;
  z-index: 10;
}

/* Ensure the background or carousel has a lower z-index */
.bg-image {
  position: absolute;
  z-index: 0;
}


/* body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}


.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  color: #E5E5E5;
}

.z-10 {
  position: relative;
  z-index: 10;
}

.bg-image {
  position: absolute;
  z-index: 0;
}
 */
